
:root {
    --primary:  #AFC3C3;
    --secondary:rgb(207,219,219);
     --ternary: rgb(191,207,207);
    // --blue: #112e41;
    // --dark-blue: #10233A;
    // --white:#fff;
    // --light-gray:#e5e6ea;
}

// background-colors

.bg-primary{
background-color: var(--primary) !important;
}
.bg-secondary{
    background-color: var(--secondary) !important;
    }
 .bg-ternary{
        background-color: var(--ternary) !important;
        }