:root {
    --primary: #AFC3C3;
    --secondary: rgb(207, 219, 219);
    --ternary: rgb(191, 207, 207);
    --light-gray: rgb(233, 227, 220);
}

// background-colors

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-ternary {
    background-color: var(--ternary) !important;
}
.bg-light-gray{
    background-color: var(--light-gray) !important;
    }
.text-gray {
    color: var(--secondary) !important;

}