@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



*{
    font-family: "Roboto", sans-serif;
    font-style: normal; 
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }



  // font size
 
  .f-12{
    font-size: 12px;
  }
  .f-14{
    font-size: 14px;
  }
  .f-18{
    font-size: 18px;
  }
  .f-52{
    font-size: 52px;
  }
  .f-62{
    font-size: 62px;
  }
  .f-170{
    font-size: 170px;
  }
  
  @media screen and (max-width:1200px) {
    .f-170{
      font-size: 140px;
    }
    .f-62{
      font-size: 52px;
    }
    .f-52{
      font-size: 48px;
    }
    .f-18{
      font-size: 16px;
    }
  }

  @media screen and (max-width:991px) {
    .f-170{
      font-size: 105px;
    }
    .f-62{
      font-size: 48px;
    }
    .f-18{
      font-size: 18px;
    }
  }
  @media screen and (max-width:767px) {
    .f-170{
      font-size: 80px;
    }
    .f-62{
      font-size: 38px;
    }
  }
  @media screen and (max-width:576px) {
    .f-170{
      font-size: 65px;
    }
    .f-52{
      font-size: 44px;
    }
   
  }
  @media screen and (max-width:476px) {
    .f-170{
      font-size: 55px;
    }
    .f-62{
      font-size: 34px;
    }
    .f-52{
      font-size: 36px;
    }
    .f-18{
      font-size: 16px;
    }
  }
  @media screen and (max-width:392px) {
    .f-170{
      font-size: 42px;
    }
    .f-62{
      font-size: 28px;
    }
    .f-52{
      font-size: 30px;
    }
    .f-18{
      font-size: 14px;
    }
    
  }